# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# python cache files
__pycache__/
*.pyc

# credentials and secrets
credentials.json
token.json
secrets.json

# Entornos virtuales
venv/
.env/
.venv/
env/